<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Phaser - Making your first game, part 9</title>
    <script type="text/javascript" src="js/phaser.min.js"></script>
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/underscore-min.js"></script>
    <script type="text/javascript" src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <style type="text/css">
        body {
            margin: 0;
        }
    </style>
</head>
<body>

<div id="welcome-screen" class="container">
    <div class="form-group">
        <label for="my-name">Name</label>
        <input type="text" class="form-control" id="my-name" placeholder="Pick a name">
    </div>
    <button class="btn btn-primary" id="my-name-submit">Submit</button>
</div>

<div id="canvas"></div>

<script type="text/javascript">
    var socket = io();

    var game;

    var currentPlayer;
    var players = {};
    var platforms;
    var cursors;

    var stars;
    var score = 0;
    var scoreText;

    var CURSOR_ACTION_UPDATE_TIME = 10;

    // Keeps track of timing
    var lastGameUpdateTimeFast = 0;

    $("#my-name-submit").click(function(){
        currentPlayer = $("#my-name").val();
        $("#welcome-screen").hide();
        game = new Phaser.Game(800, 600, Phaser.AUTO, 'canvas', { preload: preload, create: create, update: update });

    });

    $(document).keypress(function(e) {
        if($("#my-name").is(":focus") && e.which == 13) {
            $('#my-name-submit').trigger('click');
        }
    });

    function preload() {

        game.load.image('sky', 'assets/sky.png');
        game.load.image('ground', 'assets/platform.png');
        game.load.image('star', 'assets/star.png');
        game.load.spritesheet('dude', 'assets/dude.png', 32, 48);

    }

    function create() {

        //  We're going to be using physics, so enable the Arcade Physics system
        game.physics.startSystem(Phaser.Physics.ARCADE);

        //  A simple background for our game
        game.add.sprite(0, 0, 'sky');

        //  The platforms group contains the ground and the 2 ledges we can jump on
        platforms = game.add.group();

        //  We will enable physics for any object that is created in this group
        platforms.enableBody = true;

        // Here we create the ground.
        var ground = platforms.create(0, game.world.height - 64, 'ground');

        //  Scale it to fit the width of the game (the original sprite is 400x32 in size)
        ground.scale.setTo(2, 2);

        //  This stops it from falling away when you jump on it
        ground.body.immovable = true;

        //  Now let's create two ledges
        var ledge = platforms.create(400, 400, 'ground');
        ledge.body.immovable = true;

        ledge = platforms.create(-150, 250, 'ground');
        ledge.body.immovable = true;

        // The player and its settings
        players[currentPlayer] = {};
        players[currentPlayer].sprite = game.add.sprite(32, game.world.height - 150, 'dude');
        players[currentPlayer].sprite.name = currentPlayer;

        //  We need to enable physics on the player
        game.physics.arcade.enable(players[currentPlayer].sprite);


        //  Player physics properties. Give the little guy a slight bounce.
        players[currentPlayer].sprite.body.bounce.y = 0.2;
        players[currentPlayer].sprite.body.gravity.y = 300;
        players[currentPlayer].sprite.body.collideWorldBounds = true;

        //  Our two animations, walking left and right.
        players[currentPlayer].sprite.animations.add('left', [0, 1, 2, 3], 10, true);
        players[currentPlayer].sprite.animations.add('right', [5, 6, 7, 8], 10, true);

        // Listens for a new player
        socket.on('new player', function(newPlayer){
            if(newPlayer !== currentPlayer){
                console.log(newPlayer+ ' has joined.');
                players[newPlayer] = {};
                players[newPlayer].sprite = game.add.sprite(32, game.world.height - 150, 'dude');
                game.physics.arcade.enable(players[newPlayer].sprite);
                players[newPlayer].sprite.body.bounce.y = 0.2;
                players[newPlayer].sprite.body.gravity.y = 300;
                players[newPlayer].sprite.body.collideWorldBounds = true;
                players[newPlayer].sprite.animations.add('left', [0, 1, 2, 3], 10, true);
                players[newPlayer].sprite.animations.add('right', [5, 6, 7, 8], 10, true);
                players[newPlayer].sprite.frame = 4;
            }
        });

        socket.on('player action', function(object){
            if(object.name !== currentPlayer){
                players[object.name].positionX = object.x;
                players[object.name].positionY = object.y;

//                switch(object.action){
//                    case "cursorLeft" :{
//                        players[object.name].cursor = 'left';
//                        break;
//                    }
//                    case "cursorRight":{
//                        players[object.name].cursor = 'right';
//                        break;
//                    }
//                    case "cursorStill":{
//                        players[object.name].cursor = 'still';
//                        break;
//                    }
//                    case "cursorUp":{
//                        players[object.name].cursor = 'up';
//                        break;
//                    }
//                }
//                // Sets left, right, up, still
                players[object.name].cursor = object.cursor;
//                // Sets jumping
                players[object.name].cursorUp = object.cursorUp;
            }
        });

        //  Finally some stars to collect
        stars = game.add.group();

        //  We will enable physics for any star that is created in this group
        stars.enableBody = true;

        //  Here we'll create 12 of them evenly spaced apart
        for (var i = 0; i < 12; i++)
        {
            //  Create a star inside of the 'stars' group
            var star = stars.create(i * 70, 0, 'star');

            //  Let gravity do its thing
            star.body.gravity.y = 300;

            //  This just gives each star a slightly random bounce value
            star.body.bounce.y = 0.7 + Math.random() * 0.2;
        }

        //  The score
        scoreText = game.add.text(16, 16, 'score: 0', { fontSize: '32px', fill: '#000' });

        //  Our controls.
        cursors = game.input.keyboard.createCursorKeys();

        // Emiting to other sockets about create()
        socket.emit('new player', currentPlayer);
    }

    function update() {

        //  Collide the player and the stars with the platforms
        _.each(players, function (v, k) {
            game.physics.arcade.collide(players[k].sprite, platforms);
            if (k !== currentPlayer) {
//                players[k].sprite.body.x = players[k].positionX;
//                players[k].sprite.body.y = players[k].positionY;
                //  Reset the player velocity (movement)
                players[k].sprite.body.velocity.x = 0;
                switch (players[k].cursor) {
                    case "left":
                    {
                        players[k].sprite.body.velocity.x = -150;
                        players[k].sprite.animations.play('left');
                        break;
                    }
                    case "right":
                    {
                        players[k].sprite.body.velocity.x = 150;
                        players[k].sprite.animations.play('right');
                        break;
                    }
                    case "still":
                    {
                        players[k].sprite.animations.stop();
                        players[k].sprite.frame = 4;
                        break;
                    }
                }
                if(players[k].cursorUp){
                    if(players[k].sprite.body.touching.down){
                        players[k].sprite.body.velocity.y = -350;
                    }
                }
            }
        });
        game.physics.arcade.collide(stars, platforms);

        //  Checks to see if the player overlaps with any of the stars, if he does call the collectStar function
        game.physics.arcade.overlap(players[currentPlayer].sprite, stars, collectStar, null, this);

        //  Reset the players velocity (movement)
        players[currentPlayer].sprite.body.velocity.x = 0;

        if (cursors.left.isDown) {
            //  Move to the left
            players[currentPlayer].sprite.body.velocity.x = -150;
            players[currentPlayer].sprite.animations.play('left');
            if(game.time.now - lastGameUpdateTimeFast > CURSOR_ACTION_UPDATE_TIME){
                if (players[currentPlayer].sprite.body.touching.down) {
                    object = {
                        name: currentPlayer, x: players[currentPlayer].sprite.position.x,
                        y: players[currentPlayer].sprite.position.y, cursor: 'left'
                    };
                    socket.emit('player action', object);
                    lastGameUpdateTimeFast = game.time.now
                }
            }
        } else if (cursors.right.isDown) {
            //  Move to the right
            players[currentPlayer].sprite.body.velocity.x = 150;
            players[currentPlayer].sprite.animations.play('right');
            if (game.time.now - lastGameUpdateTimeFast > CURSOR_ACTION_UPDATE_TIME) {
                if (players[currentPlayer].sprite.body.touching.down) {
                    object = {
                        name: currentPlayer, x: players[currentPlayer].sprite.position.x,
                        y: players[currentPlayer].sprite.position.y, cursor: 'right'
                    };
                }
                socket.emit('player action', object);
                lastGameUpdateTimeFast = game.time.now
            }
        } else {
            //  Stand still
            players[currentPlayer].sprite.animations.stop();
            players[currentPlayer].sprite.frame = 4;
            if (game.time.now - lastGameUpdateTimeFast > CURSOR_ACTION_UPDATE_TIME) {
                if (players[currentPlayer].sprite.body.touching.down) {
                    object = {
                        name: currentPlayer, x: players[currentPlayer].sprite.position.x,
                        y: players[currentPlayer].sprite.position.y, cursor: 'still'
                    };
                    socket.emit('player action', object);
                    lastGameUpdateTimeFast = game.time.now
                }
            }
        }

        //  Allow the player to jump if they are touching the ground.
        if (cursors.up.isDown) {
            if (players[currentPlayer].sprite.body.touching.down) {
                players[currentPlayer].sprite.body.velocity.y = -350;
            }
            if (game.time.now - lastGameUpdateTimeFast > CURSOR_ACTION_UPDATE_TIME) {
                object = {
                    name: currentPlayer, x: players[currentPlayer].sprite.position.x,
                    y: players[currentPlayer].sprite.position.y, cursorUp: true
                };
                socket.emit('player action', object);
                lastGameUpdateTimeFast = game.time.now
            }
        } else {
            object = {
                name: currentPlayer, x: players[currentPlayer].sprite.position.x,
                y: players[currentPlayer].sprite.position.y, cursorUp: false
            };
            socket.emit('player action', object);
        }


//        // Emiting to other sockets about my current position
//        if(game.time.now - lastGameUpdateTimeFast > CURSOR_ACTION_UPDATE_TIME){
//            var position = { name: currentPlayer, x: players[currentPlayer].sprite.position.x, y: players[currentPlayer].sprite.position.y};
//            socket.emit('player position', position);
//            lastGameUpdateTimeFast = game.time.now
//        }
    }

    function collectStar (player, star) {
        // Removes the star from the screen
        star.kill();

        //  Add and update the score
        score += 10;
        scoreText.text = 'Score: ' + score;

    }



</script>

</body>
</html>